* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 900px;
    background-color: #7764e8;

    background: #7F00FF;


    /*
    background: -webkit-linear-gradient(to right, hsla(282, 95%, 50%, 0.182), hsla(317, 45%, 52%, 0.664)), url(../img/walperplanilla.jpg);
    background: linear-gradient(to right, hsla(282, 95%, 50%, 0.182), hsla(317, 45%, 52%, 0.664)), url(../img/walperplanilla.jpg);
    */


    /*background: -webkit-linear-gradient(to right, hsla(282, 95%, 50%, 0.182), hsla(317, 45%, 52%, 0.664)), url(../img/home.jpg);
    background: linear-gradient(to right, hsla(282, 95%, 50%, 0.182), hsla(317, 45%, 52%, 0.664)), url(../img/home.jpg);
    */
    background-size: cover;
    background-image: url(../img/home.jpg);
    /*background-attachment: fixed;*/
    position: static;
    max-width: 100%;
    object-fit: cover;

}

.video-iframe {
    width: 100%;
    display: flex;
    align-items: center;


}

.video {

    width: 710px;
    height: 399px;
    object-fit: cover;
    max-width: 100%;
}

li {
    margin-left: 1em;
}

.finanzas-img {

    height: 120px;
    width: 100%;

}

.textos-header {
    display: flex;
    height: 770px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.svgimg {
    filter: drop-shadow(2px 1px 10px #00111E)
}

.text {
    text-align: justify;
    padding: 10px 0px 35px 0px;
    font-size: 24px;
}

.remarcado:hover {
    color: #8064ED;
    font-weight: bolder;
    transform: scale(0);
    transition: transform .5s;
}

.div-header {
    display: flex;
    min-height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    box-shadow: 1px 1px 7px #041723;
    padding-top: 17px;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #7764e8;
}

.textos-header b {
    text-align: center;
    font-size: 110px;
    color: #7F00FF;
}

.textos-header h1 {
    font-size: 54px;
}

.textos-header div {
    font-size: 37px;
}

.header-right {
    padding-bottom: 27px;
}

.logo-class {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 180px;
    height: auto;
    max-width: 100%;
    margin-left: 40px;
    margin: 20px;
    padding-right: 20px;
    float: left;
    object-fit: cover;
    padding-bottom: 5px;
}



a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}

nav {
    padding: 30px 50px 0 0;
}

nav a {
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover {
    color: violet;
    text-decoration: underline;
}



.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
}

main .section-1 {
    padding: 30px 0 60px 0;
}

.titulo {
    color: #8064ED;
    font-size: 60px;
    text-align: center;
    margin-bottom: 60px;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contenedor-section-1 {
    display: flex;
    justify-content: space-between;
}







.contenido-text1 h3 span {
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 7px;
}


.img-port {
    width: 24%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.img-port img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-multi {
    position: absolute;
    width: 100%;
    height: 98%;
    top: 0;
    border-radius: 3%;
    transform: scale(0);
    background: hsla(273, 91%, 27%, 0.7);
    transition: transform .5s;
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    place-content: center;
}

.hover-multi p {
    color: #fff;
}

.imagen:hover .hover-multi {
    transform: scale(1);
}

.imagenn {
    overflow: hidden;
    transition: transform .5s;
    object-fit: cover;
    max-width: 125%;
}

.imagenn:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    transition: .5s;
}

.imagennn {
    overflow: hidden;
    transition: transform .5s;
    object-fit: cover;
    max-width: 100%;
}

.imagennn:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    transition: .5s;
}



.imagen {
    width: 110%;
    position: relative;

}

.imagen img {
    width: 700px;
    height: 200px;
    object-fit: cover;
    border-radius: 3%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-width: 0.25em;
    border-style: solid;
    border-color: #7F00FF;
    max-width: 100%;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.7em;
    width: 100%;
}


@media (max-width: 750px) {

    .galeria {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .hover-multi {
        text-align: center;
    }
}



.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3em;
    font-weight: bold;
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0.5em;
    height: 400px;
    display: grid;
    place-content: center;
    /*
    border-style: double;
    border-width: 0.7em;
    border-color: #7F00FF;
    */
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.grid div {
    padding: 0.5em;
    display: grid;
    place-content: center;
    border-radius: 1%;
}

.item1 {
    grid-column: 1/4;
    grid-row-start: 1;
    background-color: #7764e8;
    font-size: 27px;
    color: #fff;
}

.item2 {
    grid-column: 1/5;
    grid-row: 2/5;
}

.item-end {
    grid-column: 1/5;
    grid-row: 5;
    color: #fff;
}







.cards {
    display: flex;
    justify-content: space-evenly;
}

.cards .card {
    background: #4d0686;
    display: flex;
    width: 85%;
    height: 450px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 7px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.7);
}

.cards .card2 {
    background: #8064ED;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}


.cards .card2>.contenido-texto-card {
    width: 60%;
    color: #fff;
}

.cards .card2>.contenido-texto-card p {
    font-weight: 300;
    padding-top: 5px;
}

.img-ej:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    transition: transform .7s;
}

.img-ej {
    overflow: hidden;
    transition: transform .5s;
}

.grid-nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
    padding: 5em;
    align-items: center;

}

.p-nosotros {
    color: #fff;
    width: 85%;
    font-size: 25px;
    max-width: 100%;
}












.footer-dark {
    padding: 30px 0;
    color: #f0f9ff;
    background-color: #7764e8;
    width: 100%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.7);
}




@media (max-width:720px) {
    .div-header {
        flex-direction: column;
    }

    .logo-img {
        margin-right: 20px;
    }

    nav {
        padding: 10px 0px;

        text-align: center;
    }

    .textos-header h1 {
        font-size: 44px;
    }

    .textos-header div {
        font-size: 27px;
    }

    .footer-dark {
        text-align: center;
    }

    .video-iframe {
        width: 355px;
        height: 40px;

    }

}


@media (max-width: 1200px) {
    .grid-nosotros {
        /*display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        */
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        place-content: center;
        place-items: center;

    }

    .p-nosotros {
        width: 100%;
        text-align: center;
        color: #fff;
        font-size: 25px;
        place-items: center;

    }

}

@media (max-width: 400px) {
    .grid-nosotros {
        /*display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            */
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        place-content: center;
        place-items: center;

    }

    .p-nosotros {
        width: 100%;
        text-align: center;
        color: #fff;
        font-size: 20px;
        place-items: center;

    }
}

@media (max-width:695px) {
    .item2 ul {
        font-size: 10px;
    }
    .item1{
        font-size: 18px;
    }
}

@media(max-width:1310px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 3em;
        font-weight: bold;
        height: auto;
    }
}
